/* fonts */

@font-face {
  font-family: "Muller";
  src: url("../fonts/MullerLight.woff") format("woff");
  src: url("../fonts/MullerLight.woff2") format("woff2");
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: "Muller";
  src: url("../fonts/MullerRegular.woff") format("woff");
  src: url("../fonts/MullerRegular.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Muller";
  src: url("../fonts/MullerMedium.woff") format("woff");
  src: url("../fonts/MullerMedium.woff2") format("woff2");
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: "Muller";
  src: url("../fonts/MullerBold.woff") format("woff");
  src: url("../fonts/MullerBold.woff2") format("woff2");
  font-style: normal;
  font-weight: 700;
}

/* variables */
:root {
  --outline-offset: 8px;

  --btn-color: #cc9933;
  --btn-color-hover: #cc9933;
  --btn-color-active: #a47312;
  --link-color-hover: #cc9933;
  --link-color-focus: #cc9933;
  --link-color-active: #a47312;

  --link-transition-duration: 0.5s;

  --filling-gradient: 65.7%;
}

/* common */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

  font-family: "Muller";
}

.body {
  font-family: "Muller";
  line-height: 1;

  background-color: #f1f1f1;
}

a {
  text-decoration: none;
}

.container {
  width: 1170px;
  margin: 0 auto;
}

.logo {
  display: inline-block;
  width: 261px;
  height: 54px;
}

.btn {
  border: 1px solid var(--btn-color);
  border-radius: 10px;
  padding: 13px 20px;

  font-weight: 400;
  font-size: 16px;
  color: var(--btn-color);

  transition-property: color, background-color, border-color;
  transition-duration: 0.5s;
  transition-timing-function: ease;
}

.section-title {
  margin-left: 40px;
  margin-bottom: 20px;

  font-weight: 400;
  font-size: 40px;
  color: #333333;
}

.btn:hover,
.btn:focus {
  color: #ffffff;

  background-color: var(--btn-color-hover);
}

.btn:focus {
  outline: none;
}

.btn:active {
  background-color: var(--btn-color-active);
  border-color: var(--btn-color-active);
}

.arrow-link {
  display: flex;
  align-items: center;
}

.arrow-link::after {
  content: "";

  display: inline-block;

  width: 11px;
  height: 17px;
  margin-left: 7px;

  background-image: url("../img/link-arrow.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

  transition: margin-left var(--link-transition-duration) ease;
}

.arrow-link_white::after {
  background-image: url("../img/link-arrow_white.svg");
}

/* header */
.header {
  margin-top: 30px;
  margin-bottom: 70px;
}

.header__up-section {
  display: flex;
  flex-direction: row;
  align-items: center;

  width: 100%;
  margin-bottom: 30px;
}

.phone-number {
  font-weight: 500;
  font-size: 20px;
  line-height: 1em;
  color: #666666;
}

.header__number {
  margin-left: 40px;

  transition-property: color;
  transition-duration: 0.5s;
  transition-timing-function: ease;
}

.header__number:hover {
  color: #cc9933;
}

.header__number:focus {
  color: #cc9933;

  outline: 1px solid #cc9933;
  outline-offset: var(--outline-offset);
}

.header__number:active {
  color: #a47312;

  outline: none;
}

.header__login {
  margin-left: auto;

  font-weight: 400;
  font-size: 16px;
  line-height: 1;
  color: #cc9933;

  transition-property: color;
  transition-duration: 0.5s;
  transition-timing-function: ease;
}

.header__login::before {
  display: inline-block;
  content: "";

  width: 21px;
  height: 12px;
  margin-right: 7px;

  background-image: url("../img/login-decor.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

  transition-property: background-image;
  transition-duration: 0.5s;
  transition-timing-function: ease;
}

.header__login:hover {
  color: #f0bf5f;
}

.header__login:hover::before {
  background-image: url("../img/login-decor_hover.svg");
}

.header__login:focus {
  color: #cc9933;

  outline: 1px solid #cc9933;
  outline-offset: var(--outline-offset);
}

.header__login:active {
  color: #a47312;

  outline: none;
}

.header__login:active::before {
  background-image: url("../img/login-decor_active.svg");
}

.header__bottom-section {
  display: flex;
  flex-direction: row;
  align-items: center;

  width: 100%;
  height: 70px;
  padding-left: 45px;
  padding-right: 45px;
  border-radius: 15px;

  background-color: #ffffff;
}

.header__list {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header__item {
  font-weight: 400;
  font-size: 16px;
  color: #666666;

  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.header__item:not(:last-child) {
  margin-right: 45px;
}

.header__link {
  font-weight: 400;
  font-size: 16px;
  color: #666666;

  transition-property: color;
  transition-duration: var(--link-transition-duration);
  transition-timing-function: ease;
}

.header__item:hover .header__link {
  color: var(--link-color-hover);
}

.header__link:focus {
  color: var(--link-color-focus);

  outline: 1px solid var(--link-color-focus);
  outline-offset: var(--outline-offset);
}

.header__item:active .header__link {
  color: var(--link-color-active);

  outline: none;
}

.header__btn:first-of-type {
  margin-left: auto;
}
.header__btn:nth-of-type(n + 2) {
  margin-left: 40px;
}

/* offers */
.offers {
  margin-bottom: 70px;
}

.offers__items {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;

  height: 540px;
  width: 100%;
}

.offer::before {
  content: "";

  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  display: inline-block;
  width: 100%;
  height: 100%;

  background: linear-gradient(
    90deg,
    rgba(48, 64, 89, 0.84) -2.9%,
    rgba(53, 65, 83, 0) 65.7%
  );
  border-radius: 15px;
}

.offer {
  position: relative;

  display: flex;
  flex-direction: column;

  width: 573px;
  height: 258px;
  padding: 40px 45px;

  /* background-image: url("../img/offers/Maldives.jpg"); */

  border-radius: 15px;
}

.offer:hover .offer__link::after {
  margin-left: 10px;
}

/* .offer:first-child {
  margin-bottom: 24px;
}

.offer:last-child {
  margin-left: 24px;
} */

.maldives {
  background-image: url("../img/offers/Maldives.jpg");
}

.crete {
  background-image: url("../img/offers/Crete.jpg");
}

.luxury::before {
  background: linear-gradient(
    0deg,
    rgba(48, 64, 89, 0.84) -2.9%,
    rgba(53, 65, 83, 0) 65.7%
  );
}

.luxury {
  height: 540px;
  padding-top: 212px;

  background-image: url("../img/offers/luxury.jpg");
}

.luxury .offer__title {
  width: 299px;

  font-size: 60px;
}

.luxury .offer__price {
  font-size: 30px;
}

.offer__title {
  position: relative;

  width: 420px;
  margin-bottom: 15px;

  font-weight: 700;
  font-size: 40px;
  color: #ffffff;
}
.offer__price {
  position: relative;

  margin-bottom: auto;

  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  color: #ffffff;

  opacity: 0.8;
}
.offer__link {
  position: relative;

  display: flex;
  align-items: center;

  font-weight: 400;
  font-size: 16px;
  color: #f0bf5f;
}

.offer__link::after {
  content: "";

  display: inline-block;

  width: 11px;
  height: 17px;
  margin-left: 6px;

  background-image: url("../img/link-arrow.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

  transition: margin-left var(--link-transition-duration) ease;
}

/* about */

.about {
  margin-bottom: 70px;
}

.about__info {
  width: 888px;

  font-weight: 400;
  font-size: 16px;
  line-height: 2em;

  color: #000000;
}

/* services */

.services {
  margin-bottom: 70px;
}

.services__items {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  align-content: space-between;

  width: 100%;
  height: 684px;
}

.service {
  display: inline-block;

  width: 573px;
  height: 330px;
  padding: 191px 45px 35px 45px;

  border-radius: 15px;

  background-color: #fff;

  transition: box-shadow var(--link-transition-duration) ease;
}

.service:hover .arrow-link::after {
  margin-left: 11px;
}

.service:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.service__heading {
  font-weight: 500;
  font-size: 20px;
  line-height: 2em;
  color: #cc9933;
}
.service__description {
  font-weight: 400;
  font-size: 16px;
  line-height: 2em;
  color: #000000;
}

.service {
  background-repeat: no-repeat;
  background-position: top center;
}

.exclusive-service {
  background-image: url("../img/services/exclusive-service.jpg");
}

.pool {
  background-image: url("../img/services/pool.jpg");
}

.banqueting-hall {
  background-image: url("../img/services/banqueting-hall.jpg");
}

.parking {
  background-image: url("../img/services/cars.jpg");
}

/* benefits */
.benefits {
  margin-bottom: 70px;
}

.benefits__cards {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: space-between;
  flex-wrap: wrap;

  width: 100%;
  height: 576px;
}

.benefits__card {
  display: inline-block;

  height: 276px;
  width: 276px;
  border-radius: 15px;

  background-color: #fff;
}

.benefits__info {
  padding: 116px 42px 32px 45px;

  font-weight: 400;
  font-size: 16px;
  line-height: 2em;
  color: #000000;
}

.benefits__card {
  background-repeat: no-repeat;
  background-position: left 45px top 40px;
}

.bathtub-decor {
  background-image: url("../img/benefits-decor/bathtub.svg");
}

.hanger-decor {
  background-image: url("../img/benefits-decor/hanger.svg");
}

.heating-decor {
  background-image: url("../img/benefits-decor/heating.svg");
}

.key-decor {
  background-image: url("../img/benefits-decor/hotel-key.svg");
}

.parking-decor {
  background-image: url("../img/benefits-decor/parking.svg");
}
.reception-decor {
  background-image: url("../img/benefits-decor/reception.svg");
}
.security-decor {
  background-image: url("../img/benefits-decor/security-box.svg");
}
.pool-decor {
  background-image: url("../img/benefits-decor/swimming-pool.svg");
}

/* placement */
.placement {
  margin-bottom: 70px;
}

.placement__items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;

  width: 100%;
  height: 1368px;
}

.place {
  position: relative;

  display: inline-block;

  width: 374px;
  height: 440px;
  border-radius: 15px;
  padding: 249px 45px 45px;

  background-color: #fff;
}

.place__img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;

  border-radius: 15px 15px 0 0;
}

.place__wrap {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  margin-bottom: 16px;
}

.place__price::before {
  content: "от";

  margin-right: 4px;

  font-weight: 400;
  font-size: 16px;
  color: #999999;
}

.place__price {
  font-weight: 700;
  font-size: 20px;
  line-height: 1;
  color: #000000;
}

.place__price::after {
  content: "/ ночь";

  margin-left: 4px;

  font-weight: 400;
  font-size: 16px;
}

.place__rating {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.place__name {
  margin-bottom: 16px;

  font-weight: 400;
  font-size: 16px;
  line-height: 1;
  color: #000000;
}
.place__locate {
  margin-bottom: 20px;

  font-weight: 400;
  font-size: 16px;
  line-height: 1;
  color: #999999;
}
.place__btn {
  display: inline-block;

  width: 100px;
}

.see-more {
  display: flex;
  align-items: flex-end;

  padding-left: 54px;

  background-image: url("../img/placement/cliff.jpg");
  background-repeat: no-repeat;
  background-position: center center;
}

.see-more__link {
  font-weight: 500;
  font-size: 20px;
  line-height: 2em;
  color: #ffffff;
}

.see-more:hover .arrow-link::after {
  margin-left: 11px;
}

/* contacts */
.contacts {
  margin-bottom: 70px;
}

.contacts__main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  height: 618px;
  padding: 45px;
  border-radius: 15px;

  background: #ffffff;
}

.contacts__info {
  width: 375px;
  height: 100%;
}

.contacts__item {
  display: flex;
  justify-content: space-between;

  min-height: 72px;
  border-bottom: 1px solid #e9e9e9;
  margin-bottom: 25px;
}

.contacts__item:last-of-type {
  margin-bottom: auto;
}

.item__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1;
  color: #000000;
}

.item__data {
  width: 229px;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.5em;
  color: #000000;
}

.item__data .phone-number {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5em;
  color: #000000;

  transition: color 0.5s ease;
}

.item__data .phone-number:hover {
  color: #cc9933;
}

.item__mail {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5em;
  color: #000000;

  transition: color 0.5s ease;
}

.item__mail:hover {
  color: #cc9933;
}

.item__undermail {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5em;
  color: #999999;
}

.booking {
  margin-bottom: 4px;
}

.cooperation {
  margin-bottom: 22px;
}

.contacts__btn {
  display: inline-block;
  align-self: flex-start;

  padding: 27px 29.5px;
}

.contacts__main-image {
  border-radius: 10px;
}

/* footer */
.footer {
  margin-bottom: 30px;
}

.footer__content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  height: 341px;
  border-radius: 15px;
  padding: 45px;

  background-color: #333333;

  background-image: url("../img/logo-image.svg");
  background-repeat: no-repeat;
  background-position: bottom 0px right 177px;
}

.footer__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 302px;
  height: 100%;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.9em;

  color: #ffffff;
}

.footer__agreement {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5em;
  color: #cc9933;
}

.footer__address {
  display: flex;
  flex-direction: column;
}

.footer__location {
  margin-bottom: 15px;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.88em;
  color: #ffffff;
}

.footer__communication {
  display: inline-block;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.5em;
  color: #cc9933;
}

.footer__number:nth-last-child(3n) {
  margin-bottom: 15px;
}

.footer__social {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  width: 25px;
  height: 115px;
}

.social__item {
  display: inline-block;

  width: 25px;
  height: 25px;

  background-repeat: no-repeat;
  background-position: center center;

  transition: background-image var(--link-transition-duration) ease;
}

.tripadvisor {
  background-image: url("../img/social/tripadvisor.svg");
}

.tripadvisor:hover,
.tripadvisor:focus {
  background-image: url("../img/social/tripadvisor_hover.svg");
}

.tripadvisor:active {
  background-image: url("../img/social/tripadvisor_active.svg");
}

.odnoklassniki {
  background-image: url("../img/social/ok.svg");
}

.odnoklassniki:hover,
.odnoklassniki:focus {
  background-image: url("../img/social/ok_hover.svg");
}

.odnoklassniki:active {
  background-image: url("../img/social/ok_active.svg");
}

.vkontakte {
  background-image: url("../img/social/vk.svg");
}

.vkontakte:hover,
.vkontakte:focus {
  background-image: url("../img/social/vk_hover.svg");
}

.vkontakte:active {
  background-image: url("../img/social/vk_active.svg");
}
